.bnav {
    color: inherit;
    size: 20px;
    scroll-behavior: smooth;
    padding: 10px 30px;
    display: inline-block;

}

nav {
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opciones {
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    text-decoration: none;
}
/* Media queries para pantallas medianas y grandes */
@media (min-width: 1200px) {
    nav {
      display: flex;
      justify-content: space-between;
    }
    
    .section {
      padding: 40px;
    }
  }